.container {
  display: flex;
  align-items: center;
  border: 1px solid #cac6c6;
  border-radius: 10px;
  width: fit-content;
  overflow: hidden;

  .nav {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    
    .icon {
      display: block;
      margin-right: 10px;
      font-size: 16pt;
      line-height: 15px;
    }

    .name {
      display: block;
    }

    &:hover {
      background: rgb(238, 238, 238);
    }

    &:active {
      background: #d4d4d4;
    }
  }
}