.container {
  display: block;

  .list-btn {
    padding: 5px;
  }

  .button {
    margin-top: 10px;
    color: white;
  }

  .sub {
    border: 1px dashed #c3c3c3;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
  }
}

.loading {
  display: block !important;
  margin: 30px auto;
}